*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html,
body{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color:#111 ;
    color: white;
}
.tictoe{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 0px;

}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    cursor: pointer;
    height: 100px;
    background-color: white;
    margin: 2px;
    color: #111;
    text-align: center;
    font-size: 30px;
    border-radius: 10px;
}